<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Lobster Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <!--Arimo Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/119c254871.js" crossorigin="anonymous"></script>
    <!--CSS-->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>Quilt Your Stash</title>
    
</head>
<body class="bgblue">
    <div class="container">
        <div class="todo-widget">
            <h1 class="">Quilt Your Stash</h1>
            <div class="layout">
                <form action="/todos/createTodo" method='POST' class="fabric-form">
                    <input type="text" placeholder="Designer" name='designer'>
                    <input type="text" placeholder="Manufacturer" name='manufacturer'>
                    <input type="text" placeholder="Print / Solid / Blender" name='fabrictype'>
                    <input type="text" placeholder="Color" name='color'>
                    <input type="text" placeholder="Yardage Amount" name='amount'>
                    <input type="submit" id="todo-btn" value="Add To Stash">
                </form>

                <table class="fabric-table">
                    <thead>
                        <tr>
                            <th>Designer</th>
                            <th>Manufacturer</th>
                            <th>Type</th>
                            <th>Color</th>
                            <th>Yardage</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% todos.forEach(el => { %>
                            <tr class='todoItem' data-id='<%=el._id%>'>
                                <td><%= el.designer %></td>
                                <td><%= el.manufacturer %></td>
                                <td><%= el.fabrictype %></td>
                                <td><%= el.color %></td>
                                <td><%= el.amount %></td>
                                <td class='del'></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>           

            <div class="footer">
                <a href="/logout">Logout</a>
            </div>            
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>